<div style="display:flex; align-items: center;">
    <mat-card style="width: 600px;" class="card">
        <mat-card-header style="text-align: center; display:flex; align-items: center; justify-content: center;">
            <mat-card-title>User Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content style="display: flex; flex-direction: column;">
            <mat-grid-list cols="2" rowHeight="270px">
                <mat-grid-tile colspan="1" rowspan="1">
                    <div style="position: absolute; top: 20px; width: 300px; text-align: center;text-decoration: underline; ">
                        <img src="assets/blank.png" height="200px" width="200px" style="border-radius: 50%;"><br>
                        <span (click)="changePic()">Change Profile</span>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <div style="top: 50px; width: 300px; margin-left: 20px;">
                        <span><b>Username : </b> {{ data.username }}</span><br><br>
                        <span><b>First Name : </b> {{ data.firstName }}</span><br><br>
                        <span><b>Last Name : </b> {{ data.lastName }}</span><br><br>
                        <span><b>Mobile Number : </b> {{ data.mobile }}</span><br><br>
                        <span><b>Email Address : </b> {{ data.emailId }}</span><br><br>
                    </div>
                </mat-grid-tile>
                
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>