<div style="display:flex; align-items: center; justify-content: center;">
    <mat-card style="width: 80%; margin-top: 20px">
        <mat-card-header style="text-align: center; display:flex; align-items: center; justify-content: center;">
            <mat-card-title>Flight Booking Details</mat-card-title>
            <mat-card-subtitle>Your all Tickets are Here.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.bookingId}} </td>
                </ng-container>
                <ng-container matColumnDef="flightNumber">
                    <th mat-header-cell *matHeaderCellDef> Flight Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.flightNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="source">
                    <th mat-header-cell *matHeaderCellDef> Source </th>
                    <td mat-cell *matCellDef="let element"> {{element.from}} </td>
                </ng-container>
                <ng-container matColumnDef="destination">
                    <th mat-header-cell *matHeaderCellDef> Destination </th>
                    <td mat-cell *matCellDef="let element"> {{element.where}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.bookingDate}} </td>
                </ng-container>
                <ng-container matColumnDef="noOfPassenger">
                    <th mat-header-cell *matHeaderCellDef> No Of Passengers </th>
                    <td mat-cell *matCellDef="let element"> {{element.noOfPassengers}} </td>
                </ng-container>
                <ng-container matColumnDef="fare">
                    <th mat-header-cell *matHeaderCellDef> Total Fare </th>
                    <td mat-cell *matCellDef="let element"> {{element.fare}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.currentStatus}} </td>
                </ng-container>
                <ng-container matColumnDef="cancle">
                    <th mat-header-cell *matHeaderCellDef> Cancle Flight </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button *ngIf="element.currentStatus == 'upComming'" type="button" class="btn btn-danger" (click)="cancleFlight(element)">
                        Cancle Booking
                    </button>    
                    </td>
                </ng-container>
                <ng-container matColumnDef="viewticket">
                    <th mat-header-cell *matHeaderCellDef> View Ticket </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="viewTicket(element)">
                     View Tickets
                    </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tickets</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="box">
                <ul class="left">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                
                <ul class="right">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="ticket">
                  <span class="airline">Flight Booking</span>
                  <span class="airline airlineslip">Flight Booking</span>
                  <span class="boarding">Boarding pass</span>
                  <div class="content">
                    <span class="jfk">{{selectedTicket.from}}     TO     {{selectedTicket.where}} </span>
                    <div class="sub-content">
                      <span class="name">PASSENGER NAME<br><span>{{userData.firstName}} {{userData.lastName}}</span></span>
                      <span class="flight">TOTAL Fare<br><span> RS. {{selectedTicket.fare}}</span></span>
                      <span class="gate">GATE<br><span>11B</span></span>
                      <span class="seat">SEAT<br><span>45A</span></span>
                      <span class="boardingtime">BOARDING TIME<br><span>{{selectedTicket.bookingDate}}</span></span>
                          
                       <span class="flight flightslip">TOTAL Fare<br><span>RS. {{selectedTicket.fare}}</span></span>
                        <span class="seat seatslip">SEAT<br><span>45A</span></span>
                        <span class="name nameslip">PASSENGER NAME<br><span>{{userData.firstName}} {{userData.lastName}}</span></span>
                    </div>
                  </div>
                  <div class="barcode"></div>
                  <div class="barcode slip"></div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>