:host ::ng-deep .mat-ripple-element {
  position: absolute;
}

table {
  width: 100%;
}

.mat-tab-labels{ 
  flex-direction:row !important;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  padding: 30px;
  background-color: rgba(245, 245, 245, 0.4); 
  margin-top: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.form-control{
  background-color: rgba(245, 245, 245, 0.4); 
  color: black;
}